.container {
	display: flex;
	height: 9vh;
	width: 80%;
	margin: 1rem;
	padding: 10px;
	justify-content: space-evenly;
	border-radius: 10px;
	background-color: var(--lightest-navy);
}

.container h3 {
	font-size: 20px;
}
