.copyright {
	position: relative;
	bottom: 10px;
	color: var(--slate);
	font-weight: 500;
}

.rightname {
	font-size: 16px;
}
.rights {
	position: relative;
	bottom: 14px;
}

@media only screen and (max-width: 600px) {
	.copyright {
		bottom: 5px;
	}
	.rightname {
		padding: 5px;
	}
	.rights {
		bottom: 20px;
	}
}
