.home-container {
	width: 80%;
	height: 100%;
}
.intro {
	width: 90%;
}

.intro h1 {
	font-size: 4rem;
	position: relative;
	right: 0.8rem;
	top: 5rem;
}

.typing {
	width: 50%;
	position: relative;
	font-size: 32px;
	color: var(--slate);
	margin-left: 21%;
}

.intro h1 strong {
	color: var(--green-bright);
}

.about {
	width: 50%;
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	left: 16.8rem;
}

.about-section {
	position: relative;
	bottom: 40px;
	text-align: start;
	font-size: 20px;
	color: var(--light-slate);
	padding: 50px;
	height: 10vh;
}

.gmail {
	width: 12%;
	position: relative;
	bottom: 30px;
	left: 40px;
	transition: all 0.4s;
}

.gmail:hover {
	scale: 1.2;
}
