.home-container {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	justify-content: flex-start;
}

.intro {
	height: 60%;
	display: flex;
	margin-right: 10rem;
	flex-direction: column;
	width: 40%;
}
.home-name {
	font-size: 3.5rem;
	text-align: start;
}
.home-name strong {
	color: var(--green-bright);
}

.typing {
	font-size: 32px;
	text-align: start;
	margin-top: -53px;
	color: var(--slate);
}

.about-section {
	font-size: 20px;
	text-align: justify;
	color: var(--light-slate);
}

.gmail {
	width: 15%;
	transition: all 0.4s;
}

.gmail:hover {
	cursor: pointer;
	scale: 1.2;
}
@media only screen and (max-width: 1110px) {
	@font-face {
		font-family: "NTR";
		src: url("../../public//fonts/NTR-Regular.ttf");
	}
	.home-container {
		gap: 1rem;
	}
	.home-container h1 {
		margin-top: 4rem;
	}
	.home-name {
		/* border: 1px solid red; */
		font-size: 1.7rem;
	}
	.intro {
		margin-right: 0rem;
		width: 90%;
	}

	.typing {
		/* border: 1px solid red; */
		margin-top: -20px;
		font-size: 1.3rem;
	}
	.gmail {
		width: 17%;
	}
}
