.home-container {
	width: 80%;
	height: 100%;
}

.intro {
	margin-top: 5rem;
	width: 90%;
	position: relative;
	right: 30px;
	height: 80vh;
}

.intro h1 {
	font-size: 4rem;
	position: relative;
	top: 5.3rem;
}

.typing {
	width: 50%;
	position: relative;
	font-size: 32px;
	color: var(--slate);
	margin-left: 21%;
}

.intro h1 strong {
	color: var(--green-bright);
}

.about {
	width: 95%;
	display: flex;
	justify-content: center;
	padding: 30px;
	font-size: 20px;
	color: var(--light-slate);
}

.about div {
	position: relative;
	width: 50%;
	text-align: start;
	bottom: 3rem;
	left: 3rem;
	padding: 30px;
}
