.side-nav-container {
	width: 20%;
	border: 1px solid red;
}

.logo img {
	margin-top: 30px;
	margin-right: 50px;
	width: 35%;
	border-radius: 20%;
	border: 1px solid var(--slate);
}

.nav-links {
	padding: 40px;
	height: 50%;
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: space-evenly;
	text-align: center;
}

.links {
	/* border: 1px solid red; */
	font-weight: 500;
	width: 40%;
	text-align: start;
	margin-left: 2rem;
	font-size: 18px;
	color: var(--green-bright);
}

.links:hover {
	color: var(--white);
	text-decoration: none;
}

.socials {
	height: 20vh;
	display: flex;
	/* align-items: center; */
	justify-content: center;
}

.social-links {
	cursor: pointer;
	margin: 2px;
	width: 10%;
	padding: 10px;
	position: relative;
	height: 40px;
	right: 6rem;
}
